block config
    - const APP = 'desktop'

<!DOCTYPE html>
html(lang=locals.lang || 'ru')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        if entrypoints
            include ../../../common/pug/loadCss
    body
        #content 
            block content
        if entrypoints
            include ../../../common/pug/loadJs